@font-face {
  font-family: 'unknown';
  src: url('./unknown.ttf');
}

body{
  background-image: url('./unknownBG.png');
  background-repeat: repeat-y;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  
}

.container{
  border-radius: 8px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: white;
  font-size: 4.5rem;
  font-family: unknown;
  margin: 0 auto;

  width: 70%;
 
}

h1{
  font: inherit;
  text-decoration: line-through;
  font-size: 11rem;
  color: rgb(132, 19, 19);
  margin-top: 1rem; 
  margin-bottom: 0rem; 
  -webkit-font-smoothing: antialiased;
}

.unknownIMG {
display: flex;
flex-direction: column;
text-align: left;
}

.unknownIMG img{

  width: 100%;
}

.unknownIMG span{
  color: rgb(132, 19, 19);

  margin-left: 1rem;
  font-size: 1.5rem;

  margin-top: 0.5rem;
}


div{

  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 2rem;
  line-height: 1.6;
  margin: 3rem;
}

p:last-child{
  /* font-weight: bold; */
  font-size: 3rem;
  color: rgb(132, 19, 19);

}